{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<h1 style="text-align:center">Create Your Account</h1>
<hr style="background-color:yellowgreen">

<div class="container" style="width:30%">
    <form method="POST" class="form-register" style="color:white">
        {{ form.hidden_tag() }}

        {{ form.username.label() }}
        {{ form.username(class ="form-control", placeholder="User Name") }}

        {{ form.email.label() }}
        {{ form.email(class ="form-control", placeholder="Email Address") }}

          {{ form.password1.label() }}
        {{ form.password1(class ="form-control", placeholder="Password") }}

          {{ form.password2.label() }}
        {{ form.password2(class ="form-control", placeholder="Confirm Password") }}
        <br>
            <div class="checkbox mb-3">
               <h6>Already have an Account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>
         {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
</div>
{% endblock %}
